www/templates/home.html
<ion-view><ion-nav-bar class="bar nav-title-slide-ios"><ion-nav-title>Home</ion-nav-title><ion-nav-buttons side="right"><button ng-click="scanCode()" class="button button-clear"><i class="fa fa-qrcode button-qr"></i></button></ion-nav-buttons></ion-nav-bar><ion-content padding="true"><div class="card"><div class="item item-divider">Barcode</div><div class="item item-text-wrap">{{barcode}}</div></div><div class="card"><div class="item item-divider">Storage</div><div class="item item-text-wrap"><button ng-click="add({test: &quot;test&quot;})" class="button button-primary button-block">Add test</button><button ng-click="getAll()" class="button button-primary button-block">Retrieve</button><button ng-click="removeAll()" class="button button-primary button-block">Remove all</button><ul class="list"><a ng-repeat="thing in things" class="item item-avatar"><p>{{thing}}</p></a></ul></div></div><div class="card"><div class="item item-divider">Update</div><div class="item item-text-wrap"><button ng-click="checkForUpdates()" class="button button-primary button-block">Check for updates</button><button ng-if="hasUpdate" ng-click="doUpdate()" class="button button-stable button-block button-pulse">Download update</button><p>{{updateStatus}}</p></div></div><div class="card"><div class="item item-divider">Position</div><div class="item item-text-wrap"><button ng-click="getPosition()" class="button button-primary button-block">Update</button><p>{{position}}</p></div></div><div class="card"><div class="item item-divider">Verizon :)</div><div class="item item-text-wrap">{{appVerion}}</div></div></ion-content></ion-view>

www/templates/home.jade

ion-view

  ion-nav-bar.bar.nav-title-slide-ios
    ion-nav-title Home

    ion-nav-buttons(side='right')
      button.button.button-clear(ng-click='scanCode()')
        i.fa.fa-qrcode.button-qr

  ion-content(padding="true")

    .card
      .item.item-divider
        | Barcode
      .item.item-text-wrap
        | {{barcode}}

    .card
      .item.item-divider
        | Storage
      .item.item-text-wrap
        button.button.button-primary.button-block(ng-click='add({test: "test"})')
          | Add test
        button.button.button-primary.button-block(ng-click='getAll()')
          | Retrieve
        button.button.button-primary.button-block(ng-click='removeAll()')
          | Remove all

        ul.list
          a.item.item-avatar(ng-repeat="thing in things")
            p {{thing}}


    .card
      .item.item-divider
        | Update
      .item.item-text-wrap

        button.button.button-primary.button-block(ng-click='checkForUpdates()')
          | Check for updates
        button.button.button-stable.button-block.button-pulse(ng-if='hasUpdate', ng-click='doUpdate()')
          | Download update

        p {{updateStatus}}


    .card
      .item.item-divider
        | Position
      .item.item-text-wrap

        button.button.button-primary.button-block(ng-click='getPosition()')
          | Update

        p {{position}}



    .card
      .item.item-divider
        | Verizon :)
      .item.item-text-wrap
        | {{appVerion}}
