www/templates/login.html
<ion-view class="login-bg"><ion-content scroll="false"><div class="barrier-bg"><!--h1 Enter Passcode--><form class="number-pad"><a ng-click="add('1')" class="number"></a><span class="number-push">1</span><a ng-click="add('2')" class="number"></a><span class="number-push">2</span><a ng-click="add('3')" class="number"></a><span class="number-push">3</span><a ng-click="add('4')" class="number"></a><span class="number-push">4</span><a ng-click="add('5')" class="number"></a><span class="number-push">5</span><a ng-click="add('6')" class="number"></a><span class="number-push">6</span><a ng-click="add('7')" class="number"></a><span class="number-push">7</span><a ng-click="add('8')" class="number"></a><span class="number-push">8</span><a ng-click="add('9')" class="number"></a><span class="number-push">9</span><a ng-click="back()" class="number"></a><span class="number-push"><i class="ion-arrow-left-c"></i></span><a ng-click="add('0')" class="number"></a><span class="number-push">0</span><a href="" ng-click="touchId()" ng-show="touchIdSupported"><img src="img/touchid.png" class="touchid"/></a><span ng-class="{true: 'entry-active', false: ''}[pin.length &gt; 0]" class="entry-illustration first-entry"></span><span ng-class="{true: 'entry-active', false: ''}[pin.length &gt; 1]" class="entry-illustration second-entry"></span><span ng-class="{true: 'entry-active', false: ''}[pin.length &gt; 2]" class="entry-illustration third-entry"></span><span ng-class="{true: 'entry-active', false: ''}[pin.length &gt; 3]" class="entry-illustration forth-entry"></span></form></div></ion-content></ion-view>

www/templates/login.jade

ion-view.login-bg

  ion-content(scroll="false")

    .barrier-bg
      //h1 Enter Passcode
      form.number-pad
        a.number(ng-click="add('1')")
        span.number-push 1
        a.number(ng-click="add('2')")
        span.number-push 2
        a.number(ng-click="add('3')")
        span.number-push 3
        a.number(ng-click="add('4')")
        span.number-push 4
        a.number(ng-click="add('5')")
        span.number-push 5
        a.number(ng-click="add('6')")
        span.number-push 6
        a.number(ng-click="add('7')")
        span.number-push 7
        a.number(ng-click="add('8')")
        span.number-push 8
        a.number(ng-click="add('9')")
        span.number-push 9
        a.number(ng-click="back()")
        span.number-push
          i.ion-arrow-left-c
        a.number(ng-click="add('0')")
        span.number-push 0
        a(href="", ng-click='touchId()', ng-show="touchIdSupported")
          img.touchid(src="img/touchid.png")
        span.entry-illustration.first-entry(ng-class="{true: 'entry-active', false: ''}[pin.length > 0]")
        span.entry-illustration.second-entry(ng-class="{true: 'entry-active', false: ''}[pin.length > 1]")
        span.entry-illustration.third-entry(ng-class="{true: 'entry-active', false: ''}[pin.length > 2]")
        span.entry-illustration.forth-entry(ng-class="{true: 'entry-active', false: ''}[pin.length > 3]")
