www/templates/person.jade

ion-view

  ion-nav-bar.bar.bar-westwind-wohnen.nav-title-slide-ios
    ion-nav-title Klienten

  ion-content.person-list

    .spinner(ng-hide="persons.length > 0")
      ion-spinner.ios


    ul.list
      a.item.item-avatar(ng-repeat="person in persons", ng-click="selectPerson(person)")
        img(ng-src='{{person.image}}')
        .person-active(ng-show="person._id == selectedPerson._id")
        h2 {{person.firstname}} {{person.name}}
        p {{person.addresses[0].street}} {{person.addresses[0].houseNo}}, {{person.addresses[0].zip}} {{person.addresses[0].city}}


  ion-content.person-detail(scroll="true",
  direction="y",
  ng-class="{true: 'person-detail-active', false: ''}[selectedPerson._id.length > 0]")

    .padding
      h2 {{selectedPerson.firstname}} {{selectedPerson.name}}
      p {{selectedPerson.addresses[0].street}} {{selectedPersonp.addresses[0].houseNo}}
      p {{selectedPerson.addresses[0].zip}} {{selectedPerson.addresses[0].city}}

    //.map-wrapper
    ui-gmap-google-map(center='map.center', zoom='map.zoom')
      ui-gmap-marker(idKey="marker.id", coords="marker.coords")


  ion-content.logo-wrapper(ng-class="{true: 'logo-hidden', false: ''}[selectedPerson._id.length > 0]")
    img.logo(src="img/logo_star.png")

www/templates/person.html
<ion-view><ion-nav-bar class="bar bar-westwind-wohnen nav-title-slide-ios"><ion-nav-title>Klienten</ion-nav-title></ion-nav-bar><ion-content class="person-list"><div ng-hide="persons.length &gt; 0" class="spinner"><ion-spinner class="ios"></ion-spinner></div><ul class="list"><a ng-repeat="person in persons" ng-click="selectPerson(person)" class="item item-avatar"><img ng-src="{{person.image}}"/><div ng-show="person._id == selectedPerson._id" class="person-active"></div><h2>{{person.firstname}} {{person.name}}</h2><p>{{person.addresses[0].street}} {{person.addresses[0].houseNo}}, {{person.addresses[0].zip}} {{person.addresses[0].city}}</p></a></ul></ion-content><ion-content scroll="true" direction="y" ng-class="{true: 'person-detail-active', false: ''}[selectedPerson._id.length &gt; 0]" class="person-detail"><div class="padding"><h2>{{selectedPerson.firstname}} {{selectedPerson.name}}</h2><p>{{selectedPerson.addresses[0].street}} {{selectedPersonp.addresses[0].houseNo}}</p><p>{{selectedPerson.addresses[0].zip}} {{selectedPerson.addresses[0].city}}</p></div><!--.map-wrapper--><ui-gmap-google-map center="map.center" zoom="map.zoom"><ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker></ui-gmap-google-map></ion-content><ion-content ng-class="{true: 'logo-hidden', false: ''}[selectedPerson._id.length &gt; 0]" class="logo-wrapper"><img src="img/logo_star.png" class="logo"/></ion-content></ion-view>
